* {
    border: none;
    border-radius: 0;
    font-family: "envycoder nerd font";
    font-size: 17px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

#window {
    font-weight: bold;
    font-family: "ubuntu";
}


#clock {
	font-weight: bold;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio,  #tray, #mode {
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
}

#cava {
}

#pulseaudio.muted {
}

#hyprlock{
}

